<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/process_login}" th:method="POST" >
<!--    <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}">-->
    <label for="username">Enter name : </label>
    <input type="text" name="username" id="username"/>
    <br/>
    <label for="password">Enter password : </label>
    <input type="text" name="password" id="password"/>
    <div style="color:red" th:if="${param.error}">
        The name or password is incorrect!
    </div>
    <br/>
    <br/>
    <input type="submit" value="Log in"/>
</form>

<br/>

<form th:action="@{/auth/registration}" th:method="GET">
    <input type="submit" value="Registration">
</form>

<!--<a th:href="@{auth/registration}">Registration</a>-->

</body>
</html>