<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form th:action="@{/process_login}" th:method="POST">
    <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}">
    <label for="username">Enter Email : </label>
    <input type="text" name="username" id="username"/>
    <br/>
    <label for="password">Enter Password : </label>
    <input type="text" name="password" id="password"/>
    <div style="color:red" th:if="${param.error}">
        The name or password is incorrect!
    </div>
    <br/>
    <br/>
    <input type="submit" value="Log in"/>
</form>
</br>

<table>
    <thead>
    <tr>
        <th>
            Role
        </th>
        <th>
            Login
        </th>
        <th>
            Password
        </th>
    </thead>
    <tbody>
    </tr>
    <tr>
        <td>
            USER
        </td>
        <td>
            user@mail.com
        </td>
        <td>
            user
        </td>
    </tr>
    <tr>
        <td>
            ADMIN
        </td>
        <td>
            admin@mail.com
        </td>
        <td>
            admin
        </td>
    </tr>
    </tbody>
</table>
<br/>
</body>
</html>