<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<form th:action="@{/people}" th:method="POST" th:object="${person}">
    <label for="name">Enter name : </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>
    <label for="surname">Enter surname : </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
    <br/>
    <label for="email">Enter email : </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br/>
    <label for="birthday">Enter birthday : </label>
    <input type="date" th:field="*{birthday}" id="birthday"/>
    <div style="color:red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>
    <br/>
    <input type="submit" value="Add person"/>
</form>
</body>
</html>